* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  }
  
  
  body {
    max-width: 100vw;
    overflow-x: hidden;

  } 

  .container{
    max-width: 1366px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .links {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .logo {
    font-weight: bold;
    font-size: 22px;
  }

  .logout {
    padding: 5px;
    border: none;
    background-color: #53c28b;
    color: white;
    cursor: pointer;
    border-radius: 3px;
  }