.container {
    background-color: grey;
    height: 115px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logout {
    padding: 5px;
    border: none;
    background-color: #53c28b;
    color: white;
    cursor: pointer;
    border-radius: 3px;
  }